<mat-card *ngIf="!loading">
    <button (click)="test()">Open Pactice</button>
    <div class="modules" *ngFor="let module of modules">

        <mat-card-title>
            {{module.name}}
        </mat-card-title>
    
        <div class="groups" *ngFor="let group of module.groups">
            <div class="step-group">
                <div class="spacer" *ngIf="2 > group.length"></div>
                <div class="small-spacer" *ngIf="3 > group.length && group.length >= 2"></div>
                <div class="step" *ngFor="let step of group">
                    <a *ngIf="step.url != null" (click)="openInNewTab(step.url)"><app-step [icon]="'link'" [text]="step.title"></app-step></a>
                    <a *ngIf="step.page != null" [routerLink]="['/nav/courses/view-course']"
                    [queryParams]="{course: course, module: module.id, page_id: step.id, select: 'Page'}"><app-step [icon]="'insert_drive_file'" [text]="step.title"></app-step></a>
                    <a *ngIf="step.outOf != null" (click)="openQuizDialog(module.id, step.id)"><app-step [icon]="'assessment'" [text]="step.title"></app-step></a>
                    <a *ngIf="step.embedded != null" (click)="openVideo(step.embedded + '?fs=0')"><app-step [icon]="'play_circle_filled'" [text]="step.title"></app-step></a>
                </div>
            </div>
        </div>

        <br>
        <mat-divider></mat-divider>
        <br>
    </div>

    <div style="text-align: center;" *ngIf="1 > modules.length">
        Empty Course
    </div>
</mat-card>

<mat-card *ngIf="loading">
        <mat-spinner  style="margin-left: auto; margin-right: auto;"></mat-spinner>
</mat-card>
