<mat-card>
    <div class="modules" *ngFor="let module of modules">

    
        <div class="groups" *ngFor="let group of module">
            <div class="step-group">
                <div class="spacer" *ngIf="2 > group.length"></div>
                <div class="small-spacer" *ngIf="3 > group.length && group.length >= 2"></div>
                <app-step [icon]="step.icon" class="step" *ngFor="let step of group">
                </app-step>
            </div>
        </div>

    </div>
</mat-card>
