<ng-container >

  <mat-toolbar class="example-header">
    <button mat-icon-button (click)="snav.toggle()"><h1>Inbox</h1></button>
    <mat-icon>message</mat-icon>
    <span>
      <button mat-button routerLink="">
        <a (click)="openConversationDialog()" mat-list-item class="add_button empty_message"><mat-icon>add</mat-icon>Add Discussion</a>
      </button>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class=container>

      <mat-sidenav class="size-nav" #snav mode="side" opened>
        <mat-nav-list >
          <a *ngFor="let conversation of conversations" mat-list-item [routerLink]=""
             [queryParams]="{conversation: conversation.id, select: 'Conversation', start: 0}"
             (click)="setNav(conversation.id)"><mat-icon>message</mat-icon>{{conversation.title}}</a>
        </mat-nav-list>
      </mat-sidenav>

<!--    <mat-sidenav class="size-nav" #snav mode="side" opened>-->
<!--      <mat-nav-list >-->
<!--        <a *ngFor="let conversation of conversations" mat-list-item [routerLink]=""-->
<!--           (click)="setNav(conversation.id)"><mat-icon>message</mat-icon>{{conversation.title}}</a>-->
<!--      </mat-nav-list>-->
<!--    </mat-sidenav>-->

<!--    <a *ngFor="let nav of navs" mat-list-item [routerLink]="['/nav/courses/conversations']"-->
<!--       [queryParams]="{conversation: currentConversation, select: nav.val}"-->
<!--       (click)="setNav(nav.val)"><mat-icon>{{nav.ico}}</mat-icon>{{nav.val}}</a>-->

    <mat-sidenav-content class="course_viewer">

      <div class="content">
        <app-conversation [currentConversation]="currentConversation"></app-conversation>
<!--        <app-conversation *ngIf="isEqual('Conversation')" ></app-conversation>-->

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</ng-container>
