<div class="mat-app-background">
  <mat-toolbar>
    <mat-toolbar-row style="background-color: #3f51b5; color: #fafafa;
          border-bottom-style: solid; border-bottom-width: 1px;
          border-bottom-color: black;">
      Profile
      <span class="fill"></span>
      <button mat-button (click)="openEditRegisterProfile()">Edit Profile</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="card-deck-container">
    <ng-container>

      <mat-card class="example-card">
        <h2 style="text-align: center"> {{getUser().first_name}}'s Profile </h2>
        <hr>
        <mat-spinner *ngIf="loading" style="margin-left: auto; margin-right: auto;"></mat-spinner>
        <div style="text-align: center" *ngIf="!loadingPic">
          <img class="circular--square" width="200px" height="200px" src="{{getProfilePic()}}">
        </div>
        <mat-card-content class="card-container-left" *ngIf="!loading">
        <br>
          <p>
            <a>First Name:</a><a style="margin-inline-start: 50px; font-weight: bold">{{getUser().first_name}}</a>
            <br>
            <a>Last Name:</a><a style="margin-inline-start: 50px; font-weight: bold">{{getUser().last_name}}</a>
            <br>
            <a>Email:</a><a style="margin-inline-start: 50px; font-weight: bold">{{getUser().email}}</a>
            <br>
            <a>Phone:</a><a style="margin-inline-start: 50px; font-weight: bold">{{getUser().phone}}</a>
            <br>
            <a>Country:</a><a style="margin-inline-start: 50px; font-weight: bold">{{getUser().country}}</a>
          </p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
