<!--  This is the main navigation bar for the app -->

<mat-toolbar color="primary">
  <mat-toolbar-row>

      <span>
            <a [routerLink]="['home/']"><img src="https://www.fiu.edu/_assets/images/fiu-white-logo.png"></a>
      </span>

      <span>
            <button [routerLink]="['nav']" mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
      </span>
      <span *ngIf="myCourses.length > 0">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon>My Courses</button>

            <mat-menu #menu="matMenu">
                  <button *ngFor="let course of myCourses" [routerLink]="['courses/view-course']" [queryParams]="{course:course.id,select:'Home'}" mat-menu-item>
                        <mat-icon>class</mat-icon>{{course.name}}
                  </button>
            </mat-menu>
      </span>

      <span>
            <button [routerLink]="['courses/']" mat-button><mat-icon>list</mat-icon>Courses</button>
      </span>
      <span>
            <button [routerLink]="['helppage/']" mat-button><mat-icon>help_outline</mat-icon>Help</button>
      </span>

      <span class="fill"></span>

      <span>
                  <mat-slide-toggle (click)="toggleLogin()">FB_login</mat-slide-toggle>
            </span>

      <span>
            <button mat-raised-button [matMenuTriggerFor]="userMenu"><mat-icon>account_circle</mat-icon>Account</button>

            <mat-menu #userMenu="matMenu">
                  <button [routerLink]="['security/login/']" mat-menu-item>
                        <mat-icon>fingerprint</mat-icon>Login
                  </button>

                  <button *ngIf="this.isAdmin()" mat-menu-item (click)="openAddCourseDialog()" class="add_button">
                        <mat-icon>add</mat-icon>Add Course
                  </button>

                  <button mat-menu-item (click)="submitLogin()">
                    Login with facebook
                  </button>

                  <button (click)="logout()" mat-menu-item>
                        <mat-icon style="color: red;">power_settings_new</mat-icon>Log out
                  </button>
            </mat-menu>
      </span>
  </mat-toolbar-row>
</mat-toolbar>
