.mat-app-background{
  background-color: whitesmoke;
  height: 100%;
}

header{
  background-color: lightblue;
  height: 65px;
  left: 5px;
  font-size: 50px;
  top: 15px;
  font-style: normal;
}

mat-card {
  width: 80%;
  padding: 1rem;
  margin: auto;
  background-color: white;
  align-content: flex-start;
}

mat-label {
  width: 80%;
  padding: 1rem;
  margin: auto;
  background-color: white;
}

