<ng-container>
<h3 mat-dialog-title>New Conversation Editor</h3>
<form [formGroup]="conversationForm">

  <div>
    <mat-select formControlName="courseId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let course of myCourses" value="{{course.id}}" [(ngModel)]="courseId" >{{course.name}} </mat-option>
   </mat-select>
  </div>

  <br>

  <div>
    <mat-select [(ngModel)]="courseId" formControlName="recipients">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let recipient of recipients" value="{{recipient.id}}">{{recipient.fname}}</mat-option>
    </mat-select>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Conversation Title</mat-label>
    <input matInput type="text" formControlName="title" maxlength="100" required>
  </mat-form-field>

  <div>
    <mat-label><strong>Message:</strong></mat-label>
    <angular-editor formControlName="description" [config]="config"></angular-editor>
    <mat-error *ngIf="conversationForm.controls['description'].invalid">{{getDescriptionError()}}</mat-error>
  </div>

</form>
<mat-dialog-actions>
  <span class="fill"></span>
  <button (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
  <button [disabled]="conversationForm.invalid" (click)="sendMessage()" mat-raised-button color="primary">Create</button>
</mat-dialog-actions>
</ng-container>
