<div class="mat-app-background">
  <mat-card>
    <mat-spinner *ngIf="loading" style="margin-left: auto; margin-right: auto;"></mat-spinner>
    <h3>Roll Call</h3>
<!--    <p *ngIf="!loading && 1 > students.length">-->
<!--      No Pending Enrollments-->
<!--    </p>-->
    <mat-nav-list>
      <a mat-list-item *ngFor="let student of students">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>{{student.lname + ', ' + student.fname + ' - ' + student.email}}</h4>
      </a>
    </mat-nav-list>
  </mat-card>
<!--<ng-container>-->
<!--&lt;!&ndash;  <mat-card *ngIf="1 > students">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-spinner *ngIf="loading" style="margin-left: auto; margin-right: auto;"></mat-spinner>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-card>&ndash;&gt;-->
<!--  <mat-card  *ngIf="1 > students">-->
<!--      <h4>{{students}}</h4>-->
<!--  </mat-card>-->
<!--</ng-container>-->
</div>
